* {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
    line-height: 1.5;
    letter-spacing: normal;
    font-style: normal;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    background-color: white;
    color: black;
    text-align: center;
    justify-content: center;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    background-color: lightgray;
}

header:hover {
    background-color: azure;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

header a {
    text-decoration: none;
    color: black;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#cooking {
    background-color: #ec7028;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
    border-style: dashed;
    font-size: 15px;
}

div.container {
    text-align: center;
}

dl.descriptionList {
    display: inline-block;
    text-align: center;
}

dl dd {
    display: list-item;
    overflow: hidden;
    background: aliceblue;
    padding: 5px 10px;
    color: black;
    margin: 0 3px;
}

#home .profile-icon {
    width: 300px;
    border-radius: 50%;
}

#movie .profile-icon {
    width: 200px;
    border-radius: 50%;
}

#food .profile-icon {
    width: 300px;
    height: 200px;
    border-radius: 50%;
}

#book .profile-icon {
    width: 200px;
    border-radius: 50%;
}

#game .profile-icon {
    width: 300px;
    height: 200px;
    border-radius: 50%;
}

ul {
    list-style-type: none;
}

#home h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

footer {
    line-height: 40px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

#home {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('pictures/lightningbg.jpg');
}

#about {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('pictures/Tempest.jpg');
}

#contact {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('pictures/rainstorm.jpg');
}

#interests {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('pictures/shonen.webp');
}

#movie {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('pictures/cinema.webp');
}

#food {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('pictures/cookingbg.jpg');
}

#book {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('pictures/bookshelfs.jpg');
}

#game {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('pictures/cyberpunklofi.png');
}

@media only screen and (max-width: 600px) {

    body,
    p,
    h1,
    h2,
    h3,

    h1 {
        font-weight: 500;
        font-size: 7vw;
    }

    h2 {
        font-weight: 500;
        font-size: 4vw;
    }

    h3 {
        font-weight: 500;
        font-size: 1vw;
    }
}